.container
  .row
    .column{style: "margin-top: 2.5%"}
      %h1 D3 Workshop Examples
      %h5 
        Created by
        =link_to "David Newbury", "http://www.workergnome.com"

  %hr
  .row
    .four.columns{style: "margin-top: 2.5%"}
      %ol
        - examples.each do |r|
          %li= example_link(r)
    .eight.columns{style: "margin-top: 2.5%"}
      %p This is a step-by-step series of examples of D3 code, designed to slowly walk you into using D3.  For people familiar to D3, it may seem like an odd order, but it's designed to try and put off learning the 'strange' parts of D3 as long as possible.  A working knowledge of Javascript is essential to understand these slides, and it helps if you've spent at least a little time with creative coding or visual coding before. 

      %p Each example here has a description of the particular part of D3 that we're trying to explain.  There is also a live D3 visualization.  Below the fold, there are two code blocks.  One is the D3 code being used for the visualization, and the other contains the `data` variable, which becomes essential in later lessons.

      %p There is also a <span class='button'>View this example on CodePen</span> button as part of each example.  This will open up a live version of the example on the <a href='https://codepen.io'>CodePen</a> site, where you can manipulate the code and see your changes reflected in real-time. 

      %p
        These examples were originally generated for use in a workshop given at
        = link_to "the Frank-Ratche Studio for Creative Inquiry", 'http://studioforcreativeinquiry.org/'
        at Carnegie Mellon on October 28th, 2016.  Additional background and material is available in the slides, which are available on 
        = link_to "SlideShare.", "#"
        The code used to generate this website has been released as open source under the MIT license and is
        = link_to "available on Github", "https://github.com/workergnome/d3-examples"
        for review and suggestions.